/source/backup
/source/lib/x86_64-linux
/source/lib/x86_64-win64
/source/release
*.bak
*.exe
/source/lib/aarch64-linux
source/FluxFloppyManager.x86_64-linux-gnu
source/FluxFloppyManager
source/FluxFloppyManager.ini
*.zip
*.bat
*.res
*.dbg
