# prefix: cpc.

disk 180
    cyls = 40
    heads = 1
    tracks * ibm.mfm
        secs = 9
        bps = 512
        gap3 = 84
        rate = 250
    end
end

disk 360
    cyls = 40
    heads = 2
    tracks * ibm.mfm
        secs = 9
        bps = 512
        gap3 = 84
        rate = 250
    end
end

disk 720
    cyls = 80
    heads = 2
    tracks * ibm.mfm
        secs = 9
        bps = 512
        gap3 = 84
        rate = 250
    end
end

# Generic IBM format codec which will scan a track for any valid FM/MFM
# sectors at standard rates (125kbps, 250kbps, 500kbps) and RPMs (300, 360).
disk scan
    cyls = 40
    heads = 2
    tracks * ibm.scan
        # Following options restrict the scanner's search
        # rate = 250
        # rpm = 300
    end
end
